body {
  font-family: Share, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #333;
}

h1,h2,h3 {
  margin: 0 0 1em;
  padding: 0;
}

h2 {
  font-size: 1.2em;
  margin-top: 13px;
}

h3 {
  margin-bottom: 0.3em;
}

a {
  color: #782121;
}

a:focus {
  outline: none;
}

ul {
  margin: 1px 0;
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

#header h1 {
  margin: 17px 0 13px 0;
  float: left;
}

#header {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  z-index: 100;
  color: #782121;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow:    0 0 10px 5px #999;
  -webkit-box-shadow: 0 0 10px 5px #999;
  box-shadow:         0 0 10px 5px #999;
}

#menu {
  position: absolute;
  right: 10px;
  top: 5px;
}

#menu .link {
  display: inline-block;
  text-align: right;
  font-weight:700;
  text-decoration: none;
  text-transform: uppercase;
}

.icons {
  position: relative;
  top: 24px;
}

.shorttip {
  display: none;
  position: absolute;
  width:140px;
  margin-bottom: 2px;
}

.shorttip-text {
  color: #FFF;
  background-color: #333;
  border-radius: 5px;
  padding: 3px 0;
  text-align: center;
}

.shorttip-tail {
  position: absolute;
  bottom: -10px;
  left: 6px;
  width: 0;
  height: 0;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  border-style: solid;
}

a.icon {
  font-size: 28px;
  color: #333;
  text-decoration: none;
  margin: 0 6px 0 0;
  padding: 0;
  overflow: visible;
}

a.icon:hover .icon-question-sign {
  color: #782121;
}

.icon-opendata {
  background: url('../img/opendata-off.svg') no-repeat center;
  background-size: 25px 25px;
  width: 27px;
  height: 27px;
  margin: 2px 0;
  vertical-align: top;
}

a.icon:hover .icon-opendata {
   background-image: url('../img/opendata-on.svg');
}

a.icon:hover .icon-github {
  color: #4183C4;
}

.icon-twitter {
  font-size:25px;
}

a.icon:hover .icon-twitter {
  color: #0084b4;
}

#menu p {
  text-align: right;
}

#menu dd {
  font-weight: 700;
}

.flipcontent {
  display:none;
  top:50px;
  padding-bottom: 10px;
  border-top:1px dotted #782121;
}

.flipcontent .col {
  display: inline-block;
  width: 21%;
  margin-left: 2%;
  margin-right: 0;
  vertical-align: top;
}

.tooltip {
  font-size: 12px;
  position: absolute;
  z-index: 10;
  max-width: 300px;
  background-color: #000;
  color: #fff;
  padding: 5px 8px 4px 8px;
  text-align: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: normal;
}

.tooltip h3 {
  margin-bottom: 0.5em;
  font-size: inherit;
}

#content {
  position: absolute;
  top:60px;
  width: 100%;
}

#chart {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.loader {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(246,246,246);
  background-color: rgba(246,246,246,.8);
}

.loader h2 {
  font-size:1.5em;
  text-align: center;
  color: #666;
  margin-top:20px;
}

rect,
line {
  shape-rendering: crispEdges;
}

rect {
  fill-opacity: .45;
}
 
line {
  stroke: #000;
  stroke-width: 1;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .08;
}
 
.link:hover,
.highlight {
  stroke-opacity: .3;
}

.too-old {
  margin-top: 50px;
  font-size: 1.2em;
  text-align: center;
  display: none;
}
